body{
    background-color: #d1b7d6;
    padding: 0;
    margin: 0;
}
.snorlax{
    background-color: #1c98b1;
    position: relative;
    width: 280px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    top: 200px;
    bottom: 0;
    left: 15px;
    right: 0;
    border: 5px solid black;
}
.oreja-izquierda{
    position: relative;
    width: 80px;
    height: 80px;
    background: #1c98b1;
    margin: auto;
    border-top-right-radius: 20%;
    transform: rotate(-80deg) skewX(-30deg) scale(1, .866);
    border: 5px solid black;
    left: -90px;
    z-index: -1;
}
.oreja-derecha{
    position: relative;
    width: 80px;
    height: 80px;
    background: #1c98b1;
    margin: auto;
    border-top-right-radius: 20%;
    transform: rotate(-40deg) skewX(-30deg) scale(1, .866);
    border: 5px solid black;
    left: 90px;
    top: -90px;
    z-index: -1;
}
.boca{
    background-color: #f1c181;
    width: 250px;
    height: 160px;
    border-radius: 50%;
    margin: auto;
    transform: translate(0%, -85%);
    border: 5px solid black;
}