body{
    background-color: #d1b7d6;
    padding: 0;
    margin: 0;
}
.snorlax{
    background-color: #23b3d0;
    position: relative;
    width: 380px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
    top: 200px;
    bottom: 0;
    left: 15px;
    right: 0;
    border: 5px solid black;
}
.oreja-izquierda{
    position: relative;
    width: 120px;
    height: 120px;
    background: #23b3d0;
    margin: auto;
    border-top-right-radius: 20%;
    transform: rotate(-80deg) skewX(-30deg) scale(1, .866);
    border: 5px solid black;
    left: -115px;
    z-index: -1;
}
.oreja-derecha{
    position: relative;
    width: 120px;
    height: 120px;
    background: #23b3d0;
    margin: auto;
    border-top-right-radius: 20%;
    transform: rotate(-40deg) skewX(-30deg) scale(1, .866);
    border: 5px solid black;
    left: 115px;
    top: -130px;
    z-index: -1;
}
.cara_1{
    background-color: #197385;
    position: relative;
    width: 380px;
    height: 270px;
    border-radius: 50%;
    top: -235px;
    bottom: 0;
    left: 0px;
    right: 0;
    z-index: 1;
}
.boca{
    background-color: #f1c181;
    position: relative;
    width: 340px;
    height: 215px;
    border-radius: 50%;
    margin: auto;
    transform: translate(0%, -200%);
    border: 5px solid black;
    z-index: 2;
}
.frente{
    position: relative;
    width: 55px;
    height: 55px;
    background: #197385;
    border-top-right-radius: 10%;
    transform: rotate(-240deg) skewX(-30deg) scale(1, .866);
    border: 5px solid black;
    left: 155px;
    top: -704px;
    border-left: solid transparent;
    border-bottom: solid transparent;
    z-index: 2;
}
